Django==3.1.8
celery==5.0.4
qrcode==6.1
marshmallow==3.9.1
mysqlclient==2.0.2
gunicorn==20.0.4
graphene-django>=2.0
Faker==5.0.2
factory_boy==3.1.0
django-filter>=2
django-storages==1.11
boto3==1.16.40
botocore==1.19.40
reportlab==3.5.56
pdfrw==0.4
